{% extends 'base.html' %}
{% block title %} Articles {% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for article in articles %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card h-100 shadow-sm border-0">
                {% if article.image %}
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                {% endif %}
                <div class="card-header bg-dark text-center">
                    <a class="card-link text-white" href="{{article.get_absolute_url}}">
                        <h5 class="card-title mb-0">{{ article.title|title }}</h5>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ article.snippet }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted d-block">
                        <strong>Author:</strong> {{article.author.get_full_name|title|default:article.author.username }}
                    </small>
                    <small class="text-muted d-block">
                        <strong>Created:</strong> {{ article.created_at|date:"M d, Y" }}
                    </small>
                    <small class="text-muted d-block">
                        <strong>Updated:</strong> {{ article.updated_at|date:"M d, Y" }}
                    </small>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'article_edit' article.pk %}" class="btn btn-outline-success btn-sm">Edit</a>
                        <a href="{% url 'article_delete' article.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}